.app {
  max-width: 900px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.preview {
  text-align: left;
  padding: 10px;
  overflow-y: auto;
}
